#breadnav {
  position: fixed;
  z-index: 100;
  width: 40px;
  left: 4px;
  top: 4px;
  line-height: 0;
  a {
  	padding: 0;
  	margin: 0;
  	display: block;
  }
}
.invert #breadnav {
  background-color: $color-white;
}
#pinwheel {
  &:hover {
    @include animation("rotate-center 1s ease-in-out both infinite");
  }
}
@include keyframes(rotate-center) {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}