@include for-tablet {
	.background {
		margin-top: 40px;
	}
	.txt-razvigor {
		font-size: 4rem;
		top: 1rem;
	}
	.txt-unhearted {
		font-size: 4rem;
	}
	.txt-unhearted2 {
		font-size: 3rem;
	}
	#unhearted-back svg {
  		height:80vw;
  		width: 100%;
  		left: -20%;
  		width: 120%;
	}

	.txt-light1 {
		font-size: 4rem;
		top:0;
	}
	.txt-light2 {
		font-size: 4rem;
		bottom: 100px;
	}
}