@include for-tablet {
	nav {
		background-color: $color-black;
		width: 100%;
		position: fixed;
		z-index: 0;
		top: 0;
		right: auto;
		left: 0;
		ul {
			li {
				a {
					float: left;
					font-size: 0.8rem;
					padding: 15px 10px 10px 10px;
					margin: 0;
				}
      			@include prefix('transform', 'none');
    		}
		}
	}
}