

/** Colors */
$color-wind: #253c72;
//$color-wind: #cbe3de;
//$color-wind: #bde0e9;
$color-white: #fff;
$color-black: #111111;
$color-red: #ff4136;



$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;
$color-maroon: #85144b;
$color-yellow: #ffdc00;
$color-teal: #39cccc;
$color-navy: #001f3f;
$color-orange: #ff851B;
$color-blue: #0074d9;

/** Fonts */
$font-title:        'Cousine', sans-serif;
$font-main:         'Gentium Book Basic', serif;
$font-background:	'Alegreya', serif;
$font-code:			'Space Mono', sans-serif;
$font-typewriter:	'Special Elite', cursive;
