@import "mixins";

$heart-rotate: -10deg;
$heart-scale: 1.1;

@include keyframes(heartbeat) {
  0% {
    @include prefix(transform, rotate($heart-rotate) scale(1));
  }
  7% {
    @include prefix(transform, rotate($heart-rotate) scale($heart-scale));
  }
  14% {
    @include prefix(transform, rotate($heart-rotate) scale(1));
  }
  21% {
    @include prefix(transform, rotate($heart-rotate) scale($heart-scale));
  }
  35% {
    @include prefix(transform, rotate($heart-rotate) scale(1));
  }
}

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  @include animation("heartbeat 2600ms ease 0s infinite normal");
  display: inline-block;
  position: relative;
  overflow: hidden;
}
