@import "init/init";

// wind

@include keyframes(dash) {
  0% {
    stroke-dashoffset: 800;
  }
  20% {
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
  }
  40%, 100% {
    stroke-dasharray: 800;
    stroke-dashoffset: -800;
  }
}

#razvigor svg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
}

#razvigor-back path {
  stroke: #fff;
  stroke-width: 3px;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: dash 8s ease-in forwards infinite;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      animation-delay: random(2) + ($i - 1) * 2 + 0.5s;
    }
  }
}


// HEART

$heart-scale: 1.2;
$heart-off: 0.3;

@include keyframes(heartbeat) {
  0% {
    @include prefix(transform, scale(1));
    opacity: 1;
  }
  7% {
    @include prefix(transform, scale($heart-scale));
    opacity: $heart-off;
  }
  14% {
    @include prefix(transform, scale(1));
    opacity: 1;
  }
  21% {
    @include prefix(transform, scale($heart-scale));
    opacity: $heart-off;
  }
  35% {
    @include prefix(transform, scale(1));
    opacity: 1;
  }
}

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  @include animation("heartbeat 2600ms ease 0s infinite normal");
  display: inline-block;
}


// razvigor

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


// unhearted

#unhearted a {
  color: $color-red;
  &:hover {
    color: $color-white;
    background-color: $color-red;
  }
}

// light

.flicker-4 {
  @include animation("flicker-4 4s linear infinite both");
}

@include keyframes(flicker-4) {
  0%,
  100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}

.shad:after {
    content: attr(data-shadow);
    position: absolute;
    top: -0.1em; left: 0.8em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(331,74%,30%,0.5) 45%,
        hsla(331,74%,30%,0.5) 50%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#light a {
  color: $color-maroon;
  &:hover {
    color: $color-white;
    background-color: $color-maroon;
  }
}


// visual

#visual a {
  color: $color-black;
  &:hover {
    color: $color-yellow;
    background-color: $color-black;
  }
}

$colors: $color-red, $color-yellow, $color-white, #56D9CD, #3AA1BF;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 10s;
$time-step: $time/$max;

.ant-text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@include keyframes(stroke) {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}