{% block main %}

  <img src="jako.jpg" alt="jako">
  <img src="kraj.jpg" alt="kraj">
  <img src="kraj2.jpg" alt="kraj2">
  <img src="nedostajes.jpg" alt="nedostajes">
  <img src="strah.jpg" alt="strah">

{% endblock %}
