{% block head %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <style>
    canvas {
      width: 400px;
      height: 400px;
      display: inline;
    }

    @media (max-width: 720px) {
      #theCanvas {
        width: 330px;
        height: 330px;
      }
    }
  </style>
{% endblock %}
{% block main %}

  <main>
    <div class="wrapper">
      <div style="width: 100%; text-align:center;">
        <canvas id="theCanvas"></canvas>
      </div>
      <p class="center">breath in & out</p>
      <p class="small center">Follow the pattern. It's made to disrupt your flow.</p>

    </div>
  </main>

  <script>
    function resizeCanvasToDisplaySize(canvas) {
      // look up the size the canvas is being displayed
      const width = canvas.clientWidth;
      const height = canvas.clientHeight;
      // If it's resolution does not match change it
      if (canvas.width !== width || canvas.height !== height) {
        canvas.width = width;
        canvas.height = height;
        return true;
      }
      return false;
    }

    function go() {
      var canvas = document.getElementById('theCanvas');
      resizeCanvasToDisplaySize(canvas);
      var ctx = canvas.getContext('2d');
      var cWidth = canvas.width;
      var cHeight = canvas.height;
      var stage = new createjs.Stage("theCanvas");
      var circle = new Array(6);
      var total = 12;
      for (i = 0; i < total; i++) {
        circle[i] = new createjs.Shape();
        var trans = (2 / total);
        circle[i].graphics
          .beginFill("rgba(255,0,30," + trans + ")")
          .drawCircle(cWidth / 2, cHeight / 2, 100);
        stage.addChild(circle[i]);
        var tx = Math.sin(i * 2 * Math.PI / total) * 70;
        var ty = Math.cos(i * 2 * Math.PI / total) * 70;
        createjs.Tween.get(circle[i], {loop: true})
          .to({x: tx, y: ty}, 2000, createjs.Ease.getPowInOut(4))
          .to({x: 0, y: 0}, 2000, createjs.Ease.getPowInOut(10));
      }
      stage.update();
      createjs.Ticker.setFPS(60);
      createjs.Ticker.addEventListener("tick", stage);
    }

    $.when(
      $.getScript("https://code.createjs.com/easeljs-0.8.2.min.js"),
      $.getScript("https://code.createjs.com/tweenjs-0.6.2.min.js"),
      $.Deferred(function (deferred) {
        $(deferred.resolve);
      })
    ).done(function () {
      $(document).ready(go);
    });
  </script>
{% endblock %}
