{% block head %}
  <link rel="stylesheet" href="/css/unhearted.css">
{% endblock %}
{% block main %}

  <main>
    <div class="wrapper">
Once, I held on tighter instead of letting go.
And at the time, I thought that was the right thing to do.
But the truth is, it doesn't matter how tightly
you hold on because what is meant for you will always
be yours. You shouldn't have to fight for what is truly
meant for you. So if someone wants to go, let them go.
You are so much more than the people who couldn't love
you enough to stay. What is meant for you will find you.
Always.
    </div>
  </main>

  <div class="background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="top:0;">
      <polygon fill="#ff4136" points="0,0 0,100 100,30 100,0"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="bottom:0;"
         class="heartbeat">
      <polygon fill="#ff4136" points="0,100 30,100 100,0 100,100"/>
    </svg>
    <div class="txt txt-unhearted r-5">UN<span class="heartbeat">HEART</span>ED</div>
    <div class="txt txt-unhearted2 r5">UNHEARTED</div>
  </div>

{% endblock %}
