{% block head %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <style>
    canvas {
      width: 400px;
      height: 400px;
      display: inline;
    }

    @media (max-width: 720px) {
      #theCanvas {
        width: 330px;
        height: 330px;
      }
    }
  </style>
{% endblock %}
{% block main %}

  <main>
    <div class="wrapper">
      <div style="width: 100%; text-align:center;">
        <canvas id="theCanvas"></canvas>
      </div>
      <p class="center">breath in & out</p>
      <p class="small center">
        To control the breathing is to control the mind. With different patterns of breathing, you can <a href="#" onclick="love(); return false">fall in love</a>, you can <a href="#" onclick="hate(); return true;">hate</a>  someone, you can feel the whole spectrum of feelings by changing your breathing.<br>- Marina Abramović
      </p>

    </div>
  </main>

  <script>
    function resizeCanvasToDisplaySize(canvas) {
      // look up the size the canvas is being displayed
      const width = canvas.clientWidth;
      const height = canvas.clientHeight;
      // If it's resolution does not match change it
      if (canvas.width !== width || canvas.height !== height) {
        canvas.width = width;
        canvas.height = height;
        return true;
      }
      return false;
    }

    const circle = [];

    let speedOut = 4;
    let holdOut = 2000;
    let speedIn = 10;
    let holdIn  = 4000;
    let change = true;

    function love() {
      speedOut = 2;
      holdOut = 4000;
      speedIn = 2;
      holdIn = 1000;
      change = true;
    }

    function hate() {
      speedOut = 20;
      holdOut = 1000;
      speedIn = 20;
      holdIn = 1000;
      change = true;
    }

    function update() {
      if (!change) {
        return;
      }
      const total = circle.length;
      for (let i = 0; i < total; i++) {
        const tx = Math.sin(i * 2 * Math.PI / total) * 70;
        const ty = Math.cos(i * 2 * Math.PI / total) * 70;
        createjs.Tween.get(circle[i], {loop: true, override:true})
          .to({x: tx, y: ty}, holdOut, createjs.Ease.getPowInOut(speedOut))
          .to({x: 0, y: 0}, holdIn, createjs.Ease.getPowInOut(speedIn))
          .call(update);
      }
      change = false;
    }

    function go() {
      const canvas = document.getElementById('theCanvas');
      resizeCanvasToDisplaySize(canvas);
      const ctx = canvas.getContext('2d');
      const cWidth = canvas.width;
      const cHeight = canvas.height;
      const stage = new createjs.Stage("theCanvas");

      const total = 12;
      //const circle = [];
      for (let i = 0; i < total; i++) {
        circle[i] = new createjs.Shape();
        const trans = (2 / total);
        circle[i].graphics
          .beginFill("rgba(255,0,30," + trans + ")")
          .drawCircle(cWidth / 2, cHeight / 2, 100);
        stage.addChild(circle[i]);
      }
      update();
      stage.update();
      createjs.Ticker.setFPS(60);
      createjs.Ticker.addEventListener("tick", stage);
    }

    $.when(
      $.getScript("https://code.createjs.com/easeljs-0.8.2.min.js"),
      $.getScript("https://code.createjs.com/tweenjs-0.6.2.min.js"),
      $.Deferred(function (deferred) {
        $(deferred.resolve);
      })
    ).done(function () {
      $(document).ready(go);
    });
  </script>
{% endblock %}
