<!DOCTYPE html>
<html>
<head>
    {{ partial "google-analytics" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Site.Title }}</title>
    <meta name="description" content="Ime za vetar koji počinje da duva u rano proleće."/>

    <meta property="og:image" content="{{ .Site.BaseURL }}/razvigor-og.png">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="Ime za vetar koji počinje da duva u rano proleće. Zdravo, ja sam Igor.">
    <meta property="og:url" content="{{ .Site.BaseURL }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel='stylesheet' href='{{ $style.RelPermalink }}' type='text/css' media='all' />

	{{ $appjs := resources.Get "js/app.js" }}
	{{ $js := slice $appjs | resources.Concat "js/script.js" | minify | fingerprint }}
	<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

    {{ block "head" . }}{{ end }}
</head>
<body class="{{ .Page.Params.bodyClass }}">

{{ $section := .Section }}
{{ if (ne $section "") }}
    {{ partial "breadcrumb" . }}
{{ end }}

{{ block "main" . }}{{ end }}

</body>
</html>