{{ $name := .name }}

{{ $sectionPages := where .context.Pages "Section" $name }}

{{ $s := slice 0 }}
{{ range $index, $element := $sectionPages }}
	{{ if ne .RelPermalink (print "/" $name) }}
		{{ $numberString := (slicestr .RelPermalink (add (len $name) 2)  (sub (len .RelPermalink) 1)  ) }}
		{{ $number := (int $numberString) }}
		{{ $s = $s | append $number }}
	{{ end }}
{{ end }}

<div class="grid44">
{{ range $index, $element := (after 1 (sort $s)) }}
{{ $c := add $index 1 }}
<a href="/{{$name}}/{{.}}/">{{$c}}</a>
{{ end }}
</div>