{{ define "head" }}
{{ $styleHeart := resources.Get "sass/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel='stylesheet' href='{{ $styleHeart.RelPermalink }}' type='text/css' media='all' />
<script type="text/javascript">

function animate(items, clazz) {
  (function show(counter) {
    setTimeout(function() {
      items[counter].classList.add(clazz);
      counter++;
      if (counter < items.length) show(counter);
    }, 50);
  })(0);
}

function showSection(name) {
	removeClass(_('main div.show'), 'show');
	addClass(_('#' + name), 'show');
	removeClass(_('.background.show'), 'show');
	addClass(_('#' + name + '-back'), 'show');
}

ready(() => {
  const links = __('nav a');
  animate(links, 'view');
  Array.prototype.forEach.call(links, function(el, i) {
  	el.addEventListener('click', event => {
  		showSection(el.textContent);
  		pushHash(el.textContent);
  		event.preventDefault();
  })});
  if (window.location.hash) {
      var hash = window.location.hash.substring(1);
	  showSection(hash);
  }
  else {
  	addClass(_('#main'), 'show');
  }
});
</script>
<style type="text/css">
body {
  overflow: hidden;
}
div.background {
	display: none;
}
main div.wrapper > div {
	display: none;
}
main {
  height: 100vh;
  margin: 0;
}
.wrapper {
  max-height: 500px;
}


</style>
{{ end }}
{{ define "main" }}

{{ partial "nav" }}

<main><div class="wrapper">
	<div id="main">
		<b>Razvigor</b> - je ime za vetar koji počinje da duva u rano proleće. Ovaj vetar budi prirodu, i biljke i životinje, a tako i treperi kako devojačko tako i momačko srce. Razvigore su tako vile koje pozivaju prirodu da se probudi.
	</div>
	<div id="razvigor" style="color: #fff;">
		Ime za <b>vetar</b> koji počinje da duva u rano proleće. Ovaj vetar budi prirodu, i biljke i životinje, a tako i treperi kako devojačko tako i momačko srce. Razvigore su tako vile koje pozivaju prirodu da se probudi.
	</div>
	<div id="unheart">
		<h2>Unheart</h2>
		Srca postoje da budu slomljena. Samo tako znamo da smo živeli.

		{{ partial "section" (dict "context" . "name" "unheart") }}

	</div>
	<div id="vi">
		<h2>Visual Interactions</h2>

		{{ partial "section" (dict "context" . "name" "vi") }}
	</div>
</div></div>


<div id="razvigor-back" class="background vetar">
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 442 342">
	<path id="svg_1" d="m442 75c0 0-65-39-120-33-110 8-214 83-259 82-33 0-55-18-52-45 3-21 27-37 53-34 21 2 36 18 34 35-2 14-17 24-34 22-13-1-23-11-21-22 1-9 11-15 22-14 9 1 15 7 14 14-1 6-7 10-14 9-5 0-9-5-9-9" stroke="#fff" fill="none"></path>
	<path id="svg_3" d="m442 101c0 0-38-23-124-25-85-2-132 21-136 39s4 27 13 31c7 3 16 0 18-6 2-5-1-12-6-14-5-2-10 0-12 4-1 4 0 8 4 9 3 1 6 0 8-3 1-2 0-5-3-6-2-1-4 0-5 2-1 1 0 3 2 4" stroke="#fff" fill="none"></path>
	<path id="svg_4" d="m442 165c0 0-103-62-131-52-28 10 23 43-3 59-26 16-144-4-144-4l-165-36" stroke="#fff" fill="none"></path>
  	<path id="svg_5" d="m442 228c0 0-40-43-63-50-22-7-23 41-56 45-122 11-323-53-323-53" stroke="#fff" fill="none"></path>
	<path id="svg_6" d="m442 278c0 0-22-3-89-18-68-16-127 34-195 35-68 1-157-70-157-70" stroke="#fff" fill="none"></path>
	</svg>
</svg>
	<div class="txt r5" style="top:-120px;">RAZVIGOR</div>
</div>
<div id="unheart-back" class="background">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height:20vw;top:0;">
	   <polygon fill="#ff4136" points="0,0 0,100 100,30 100,0"/>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height:20vw;bottom:0;">
	   <polygon fill="#ff4136" points="0,100 20,100 100,0 100,100"/>
	</svg>
	<div class="txt r10 heartbeat" style="top:-60px;">UNHEART</div>
	<div class="txt r10 heartbeat" style="bottom:-100px;">UNHEART</div>
</div>
<div id="vi-back" class="background">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height:20vw;top:0;">
	   <polygon fill="#ffdc00" points="0,0 0,120 80,40 100,0"/>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height:25vw;bottom:0;">
	   <polygon fill="#ffdc00" points="0,100 0,60 80,20 180,100"/>
	</svg>
	<div class="txt r5" style="top:-30px;">VISUAL</div>
	<div class="txt r5" style="bottom:-40px;">INTERACTIONS</div>
</div>

{{ end }}