
main {
//  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 500px;
  line-height: 1.2;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.top-more {
  margin-top: 200px;
}

.w50 {
  width: 50%;
}

.grid44 {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	a {
    color: $color-black;
		display: block;
		text-align: center;
		padding: 1.5rem 0 1rem 0;
		font-size: 2rem;
		font-family: $font-section;
    &:hover {
      color: $color-white;
    }
	}
}

#signature {
  letter-spacing: 8px;
  text-align: right;
  margin: 100px 20px 20px 20px;
  line-height: 30px;
  font-size: 30px;
  color: $color-black;
}
