{% block head %}
  <link rel="stylesheet" href="/css/visual.css">
{% endblock %}
{% block main %}


  <div class="background" style="background-color: #ffdc00;">
    <div style="display:flex; flex-direction:column; justify-content:space-between; height:50vh;">
      <div>
        <svg viewBox="0 0 300 100" style="width: 100%; font-size: 4rem;">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="50%">VISUAL</text>
          </symbol>
          <use class="ant-text" xlink:href="#s-text"></use>
          <use class="ant-text" xlink:href="#s-text"></use>
          <use class="ant-text" xlink:href="#s-text"></use>
          <use class="ant-text" xlink:href="#s-text"></use>
          <use class="ant-text" xlink:href="#s-text"></use>
        </svg>
      </div>
      <div style="margin-top: auto;" id="visual-txt2">
        <svg viewBox="0 0 300 100" style="width: 100%; font-size: 4rem;">
          <symbol id="s-text2">
            <text text-anchor="middle" x="50%" y="50%">INACTION</text>
          </symbol>
          <use class="ant-text" xlink:href="#s-text2"></use>
          <use class="ant-text" xlink:href="#s-text2"></use>
          <use class="ant-text" xlink:href="#s-text2"></use>
          <use class="ant-text" xlink:href="#s-text2"></use>
          <use class="ant-text" xlink:href="#s-text2"></use>
        </svg>
      </div>
    </div>
  </div>

{% endblock %}
