{% extends "base.njk" %}
{% import "_macros.njk" as macros %}

{% block head %}
  <link rel='stylesheet' href='/css/index.css' type='text/css' media='all'/>
  <script>
    ready(() => {
      // const links = __('#razvigor');
      // animate(links, 'show');
      // Array.prototype.forEach.call(links, function (el, i) {
      //   el.addEventListener('click', event => {
      //     showSection(el.textContent);
      //     pushHash(el.textContent);
      //     event.preventDefault();
      //   })
      // });
    });
  </script>
{% endblock %}
{% block main %}

  <main>
    <div class="txt text-pop-up-top" style="position: fixed">RAZVIGOR</div>
    <div class="wrapper top-more">
      <p>
        <b>Razvigor</b> - je ime za vetar koji počinje da duva u rano proleće. <!--Ovaj vetar budi prirodu, i biljke i
        životinje, a tako i treperi kako devojačko tako i momačko srce. Razvigore su tako vile koje pozivaju prirodu
        da se probudi.-->
      </p>
      <p>
        Zdravo, ja sam Igor.
      </p>

      {{ macros.section(site.pages) }}
    </div>
  </main>


{% endblock %}
